alembic==1.4.2
altgraph==0.17
asgiref==3.2.7
astroid==2.4.1
asymcrypt==0.0.10
asyncio==3.4.3
atomicwrites==1.4.0
attrs==19.3.0
Automat==20.2.0
autopep8==1.5.2
base32hex==1.0.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.5
blinker==1.4
boto3==1.10.47
botocore==1.13.50
bs4==0.0.1
cachelib==0.1.1
camelot-py==0.7.3
camera==1.3.0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
click-default-group==1.2.2
colorama==0.4.3
colouration==2020.4.28
configobj==5.0.6
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
cycler==0.10.0
db-to-sqlite==1.1.1
decorator==4.4.2
defusedxml==0.6.0
dicttoxml==1.7.4
dill==0.3.1.1
distro==1.4.0
dj-database-url==0.5.0
docutils==0.15.2
EasyProcess==0.3
ecdsa==0.15
entrypoints==0.3
et-xmlfile==1.0.1
ExifRead==2.1.2
fastapi==0.58.1
ffmpeg-python==0.2.0
flake8==3.8.2
flake8-docstrings==1.5.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Mobility==1.0.0
Flask-MongoAlchemy==0.7.2
Flask-MySQL==1.5.1
Flask-OpenTracing==1.1.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.4.1
Flask-Track-Usage==2.0.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
fudge==1.1.1
func-timeout==4.3.5
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geoip2==3.0.0
geojson==2.5.0
geolocation-python==0.2.2
geopy==1.21.0
googlemaps==4.4.1
gpsphoto==2.2.3
gTTS==2.0.4
gTTS-token==1.1.3
gunicorn==20.0.4
h11==0.9.0
html5lib==1.0.1
hyperlink==19.0.0
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.5.0
idna==2.8
imageio==2.9.0
imageio-ffmpeg==0.4.2
incremental==17.5.0
inflect==4.1.0
ip2geotools==0.1.5
IP2Location==8.4.1
isort==4.3.21
itsdangerous==1.1.0
jaraco.itertools==5.0.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.11.1
jmespath==0.10.0
json5==0.9.4
lxml==4.4.2
Mako==1.1.2
MarkupSafe==1.1.1
matplotlib==3.2.1
maxminddb==1.5.4
mccabe==0.6.1
mechanize==0.4.5
mhmovie==3.2
MongoAlchemy==0.19
more-itertools==8.2.0
moviepy==1.0.3
mutagen==1.45.0
ndg-httpsclient==0.5.1
numpy==1.18.0
oauthlib==3.1.0
openpyxl==3.0.3
opentok==2.10.0
opentracing==2.3.0
packaging==20.4
pandas==0.25.3
parsel==1.5.2
parso==0.7.0
passlib==1.7.2
pbr==5.4.4
pefile==2019.4.18
piexif==1.1.3
Pillow==7.1.1
pip-review==1.1.0
pkginfo==1.5.0.1
playsound==1.2.2
pluggy==0.13.1
proglog==0.1.9
Protego==0.1.16
psycopg2==2.8.5
py==1.9.0
py-crypt==1.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.6
pycurl==7.43.0.5
pydantic==1.5.1
Pygments==2.5.2
PyHamcrest==2.0.2
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.12.0
python-editor==1.0.4
python-engineio==3.12.1
python-jose==3.1.0
python-jsonrpc-server==0.3.4
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
SQLAlchemy==1.3.15
sqlite-utils==2.3.1
sqlparse==0.3.0
uvicorn==0.11.5
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
