<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <br>

    <form action="" method="post">
      <label for="cars">Choose a distance radius (in kms)</label>
      <select id="cars" name="cars">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="500">500</option>
      </select>
      <input type="submit">
  </form>

  </body>
</html>
